.chart-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.chart-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.chart-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-popup-title h2 {
  color: #6d2e17;
  font-size: 20px;
  font-weight: 300;
}

.chart-popup-title button {
  background: none;
  border: none;
  color: rgb(141, 86, 76);
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}
